{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block content %}
     <h1>Mon Compte</h1>
     Bienvenue  {{ app.user.prenom }}


     modifier mdp
     ajouter des adresses
     gerer les commandes

{% endblock %}
