{% extends 'base.html.twig' %}

{% block title %}Ma Commande{% endblock %}

{% block content %}

<div class="bg-light p-3">

    <h1>Ma commande</h1>
    <p></p>
    <hr>
    <div class="row">
         <div class="col-md-6">
             <b>Recap de la commande</b>
             <a href="{{ path('panier')}}" class ="btn btn-primary btn-sm"> Payer </a>
         </div>

    </div>









</div>
{% endblock %}
