{% extends 'base.html.twig' %}

{% block title %}Page d'accueil {% endblock %}

{% block carousel %}{% endblock %}

{% block content %}
      <h1 class="text-center">Bienvenu dans notre boutique </h1>

      <hr class="featurette-divider">
      <div class="col-lg-4 justify-content-center" >
            <p><a class="btn btn-secondary" href="{{ path('boutique')}}" role="button">Shop &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
{% endblock %}


